services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: aouchcha
      MONGO_INITDB_ROOT_PASSWORD: Achraf1303
      MONGO_INITDB_DATABASE: LestPlay
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
